#error-display {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0 0 0 0;
    z-index: 100;
    background: linear-gradient(rgba(152, 159, 255, 0.9), rgba(31, 31, 31, 0.9)), url("./assets/background.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    
}

#error-display h1 {
    color: white;
    text-shadow: 1px 1px 5px black;
}